# --- App settings ---
PORT=3000
BASE_URL=https://your-public-https-domain.example.com
APP_PASSWORD=replace-with-strong-password
CRON_SECRET=replace-with-a-random-long-string
LOG_RETENTION_DAYS=7

# -- Azure AD app settings --
CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
TENANT=consumers
SESSION_SECRET=replace-me-with-a-random-long-string
WEBHOOK_CLIENT_STATE=replace-with-a-random-long-string
GRAPH_CERT_VALID_DAYS=3650
GRAPH_CERT_RENEW_BEFORE_DAYS=30

# -- Local run settings --
# Should not be used in Docker Compose

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/outlook_rescue

# URL to use for pnpm renew:[once|loop] commands
RENEW_BASE_URL=http://localhost:3000
RENEW_INTERVAL_SECONDS=600
